{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Julbl - это блог про фитнес индустрию, про здоровое и правильное питание. В наше время большое количество
    людей работаю за компьютером, много сидят в сидячим положении. И на нашем сайте они могут найти полезную
    информации о том, как облегчить свою жизнь, какие упражнения выполнять ежедневно, чтобы нервная система
    была более стабильной и человек чувствовал себя лучше. Здоровье - это самый важный ресур для человека, 
    за ним нужно следить постоянно!
    Наш блог создан замотивировать людей для того, чтобы они привнесли больше спортивной активности в свою 
    жизнь и больше осознанности к своему здоровью!
</p>

{% endblock %}
