{% extends "app/layout.html" %}
{% load static %}


{% block content %}
{% if form != None %}
<body>
    <div>
        <form class="form" method="post">
            <h2 class="form_title">Отправьте, пожалуйста, заполненную анкету</h2>
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit-btn" class="save btn btn-default" type="submit">Отправить</button>
        </form>
    </div>
    {% else %}
    <form class="form" method="post">
        <br>
        <h2>Благодарим за предоставленную информацию!</h2>
        <h3>Вы сообщили о себе следующее:</h3>
        <ul>
            <li><span>Имя:</span> {{ data.name }}</li>
            <br>
            <li><span>Город:</span> {{ data.city }}</li>
            <br>
            <li><span>Пол:</span> {{ data.gender }}</li>
            <br>
            <li><span>Работа:</span> {{ data.job }}</li>
            <br>
            <li><span>В интернете:</span> {{ data.internet }}</li>
            <br>
            <li>
                <span>Получать новости сайта на e_mail:</span>
                {{ data.notice }}
            </li>
            <br>
            <li><span>Ваш e-mail:</span> {{ data.email }}</li>
            <br>
            <li><span>Информация о себе:</span> {{ data.message }} </li>
        </ul>
    </form>
</body>
{% endif %}
<script>
    const grayFocus = (element) => {
        element.addEventListener('focus', () => {
            element.style.backgroundColor = '#9370DB';
        });

        element.addEventListener('blur', () => {
            element.style.backgroundColor = '';
        });
    }

    const form = document.querySelector('form');
    const submitBtn = document.getElementById('submit-btn');
    const inputs = document.querySelectorAll('input');
    const textareas = document.querySelectorAll('textarea');

    submitBtn.addEventListener('mouseover', () => {
        submitBtn.style.color = 'white';
        submitBtn.style.backgroundColor = '#9370DB';
    });

    submitBtn.addEventListener('mouseout', () => {
        submitBtn.style.color = '';
        submitBtn.style.backgroundColor = '';
    });

    inputs.forEach(input => grayFocus(input));
    textareas.forEach(textarea => grayFocus(textarea));
</script>

<style>
    select {
        padding: 10px;
        border-radius: 5px;
    }

    option {
        padding: 5px 0;
    }

    input[type=checkbox] {
        transform: scale(1.5);
        padding: 10px;
        margin: 3px;
    }

    input[type=radio] {
        transform: scale(1.5);
        padding: 10px;
        margin: 3px;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140vh;
    }

    .form {
        width: 600px;
        padding: 32px;
        border-radius: 10px;
        box-shadow: 0 4px 16px #ccc;
        font-family: sans-serif;
        letter-spacing: 1px;
    }

    .form__input,
    .form__button {
        font-family: sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
    }

    .form__title {
        position: relative;
        margin: 0 0 32px 0;
        font-weight: normal;
    }

    .form__group {
        position: relative;
        margin-bottom: 32px;
    }

    .form__label {
        position: absolute;
        top: 0;
        z-index: -1;
        color: #9e9e9e;
        transition: 0.3s;
    }

    .form__input {
        width: 100%;
        padding: 0 0 10px 0;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        background-color: transparent;
        outline: none;
        transition: 0.3s;
    }
</style>
{% endblock %}
